h2{
	color: $blue;
}

.molecule{
	.struct{
		display: inline-block;
		width: 30px;
		&.start{
			width: 50px;
			font-weight: bold;
		}
	}
}

.solutions{
	margin-top: 20px;
	.solution{
		margin: 5px;
		border-bottom: 1px solid silver;
	}
}
