$blue:						#18c4d3;
$blue-elephant:				#f4f6f7;
$silver-blue: 				#b0bdc1;
$pink: 						#f13c78;
$silver: 					#e8ebed;
$white:						#ffffff;
$black:						#000000;
$black-rgba010:				rgba(0, 0, 0, 0.1);
$black-rgba015:				rgba(0, 0, 0, 0.15);

$hr-line-color:				#d7dfe2;

$h1-color: 					#0f2b43;
$label-color: 				#0f2b43;
$font-color: 				#475e72;

$button-color: 				$blue;
$button-gray-color: 		#183854;

$background-color: 			$blue-elephant;

$input-border-color: 		$silver-blue;
$input-required-color: 		$pink;
$input-focus-color: 		$blue;
$infobox-color-warning: 	$pink;

$table-main-color: 			$silver;
$table-line-hover-color: 	darken($blue-elephant, 2.5%);

$github-color:				#4078c0;
